/**
 * Your CSS styles go here.
 * This file is deployed as ++resource++visualtitle/main.css on your site 
 * and automatically included in merge bundles via cssregistry.xml.
 *
 * More information
 *
 * http://collective-docs.readthedocs.org/en/latest/templates_css_and_javascripts/css.html
 */ 

