/* Make title and visual title fields similar */

.field input[type="text"][name$=".visualTitle"], input#title {
    width: 100%;
}

#content .field input[type="text"][name$=".visualTitle"],
#archetypes-fieldname-visualTitle input {
    color: Black;
    font-family: "Helvetica Neue",Arial,FreeSans,sans-serif;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -0.05em;
    line-height: 125%;
}